body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    align-items: stretch;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    align-items: center;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 32px 64px;
    align-items: center;
    gap: 32px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-image,
.hero-text {
    flex: 1;
}

.hero-image {
    background-color: #F9FAF8;
    width: 400px;
    height: 200px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

.logo,
.main-text {
    color: #F9FAF8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.main-text {
    font-size: 48px;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}


a {
    text-decoration: none;
    padding:8px;
}

.sign-up {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: none;
    padding:8px 24px;
    flex-shrink: 0;
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 128px;
    gap: 32px;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.info-box {
    max-width: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}

.info-photo {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.info-box .subtext {
    text-align: center;
}

.title {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 64px 128px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;

}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
    font-size: smaller;
    margin-top: 8px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
}

.action-frame {
    display: flex;
    height: 125px;
    width: 900px;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 32px 96px;
    align-items: center;
    justify-content: space-between;
}

.action-title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.action-frame .sign-up {
    border-color: #F9FAF8;
    border: 1px solid;
}

.footer {
    display: flex;
    background-color: #1F2937;
align-items: center;
justify-content: center;
padding: 32px 64px;
}